body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.cart-container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-items {
    flex: 3;
    padding: 20px;
}

.cart-items h2 {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.item-details {
    flex: 1;
}

.item-details h3 {
    margin: 0 0 5px 0;
}

.item-details p {
    margin: 5px 0;
    color: #838383;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    background: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    text-align: center;
}

.quantity-controls span {
    margin: 0 10px;
    font-size: 18px;
}

.item-total {
    font-size: 18px;
    color: black;
}

.remove-item {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #ddd;
    margin-left: 20px;
}

.cart-summary {
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #ddd;
}

.cart-summary p {
    font-size: 18px;
    margin-bottom: 20px;
}

.checkout-button {
    background-color: #e64983;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: #e64983;
}
